<div class="container-fluid py-5">
    <div class="row">
      <h1 class="text-center col-6">Espace admin</h1>
      <div class="col-md-6 text-center">
        <button class="btn btn-lg btn-danger rounded mx-2" (click)="nouvelArticle()" style="background-color: #FF5733; max-width: 300px;">Créer un nouvel article</button>
        <button class="btn btn-lg btn-danger rounded mx-2" (click)="logout()" style="background-color: #FF5733; max-width: 300px;">Se déconnecter</button>
      </div>
    </div>
</div>

<h2 class="m-4">Edition des catégories</h2>
<div class="container-fluid py-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="form-group col m-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
          <label for="categorie">Sélectionnez une catégorie</label>
          <select class="form-select form-select-sm mb-3" id="selectCategorie" (change)="onCategorieSelected($event)">
            <option selected>Sans filtre</option>
            <option *ngFor="let categorie of categorieList" [value]="categorie.id">{{ categorie.libele }}</option>
          </select>
        </div>
        <div>
          <button class="btn btn-sm btn-danger rounded mx-2" style="background-color: #FF5733" [disabled]="!selectedCategorie" (click)="editPromotionCategorie()">Ajouter une promotion</button>
          <button class="btn btn-sm btn-danger rounded mx-2" style="background-color: #FF5733" [disabled]="!catHasPromoValue" (click)="editPromotionCategorie()">Modifier les promotions</button>
          <button class="btn btn-sm btn-danger rounded mx-2" style="background-color: #FF5733" [disabled]="!selectedCategorie" (click)="deletePromotionCategorie()">Supprimer les promotions</button>

        </div>
      </div>
    </div>
  </div>
</div>

  
  
  
<h2 class="m-4">Edition des articles</h2>
<div class="container-fluid py-5">
    <div class="row">
        <div *ngFor="let article of articleList" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100 shadow-lg text-white rounded" [ngStyle]="{'background-color': (article.promotion | async )?.pourcentage_remise ? '#E60026' : '#FF5733' }" style="min-height: 150px;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-3">{{ article.libele }}</h5>
                        <div *ngIf="(article.promotion | async )?.pourcentage_remise" class="d-flex flex-column justify-content-end">
                            <button class="btn btn-sm btn-outline-light mb-2" (click)="editPromotion(article)">Modifier la promotion</button>
                            <button class="btn btn-sm btn-outline-light" (click)="deletePromotion(article)">Supprimer la promotion</button>
                        </div>
                        <div *ngIf="!(article.promotion | async )?.pourcentage_remise">
                            <button class="btn btn-sm btn-outline-light" (click)="editPromotion(article)">Ajouter une promotion</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between" style="margin-top: 20px;">
                    <span *ngIf="!(article.promotion | async )?.pourcentage_remise" style="font-weight: bold; font-size: 24px">{{ article.prix | number:'1.2-2' }} €</span>
                    <span *ngIf="(article.promotion | async )?.pourcentage_remise" style="font-weight: bold; font-size: 24px">
                            {{ article.prix | number:'1.2-2'}} €
                            >
                            {{ article.prix_reduit | async | number:'1.2-2' }} €
                    </span>

                    <span *ngIf="(article.promotion | async )?.pourcentage_remise">
                        <div class="promo-badge">
                            <div style="background-color: white; border-radius: 10px; padding: 10px; text-align: center; color: #CF1111;">
                              <div style="font-weight: bold;">
                                PROMO -{{ (article.promotion | async )?.pourcentage_remise }}%
                              </div>
                              <div style="font-size: smaller;">
                                du {{ (article.promotion | async)?.date_debut | date:'dd/MM/yyyy' }} au {{ (article.promotion | async)?.date_fin | date:'dd/MM/yyyy' }}
                              </div>
                            </div>
                          </div>
                          
                    </span>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
