<div class="container-fluid bg-light py-5">
  <div class="row">
    <div *ngFor="let article of articleList" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
      <div (click)="goToArticle(article)" class="card h-100 shadow-lg text-white" [ngStyle]="{'background-color': article.getPromotion()?.pourcentage_remise ? '#E60026' : '#FF5733' }" appBorderCard>
        <img class="card-img-top" [src]="article.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title mb-3">{{article.libele}}</h5>
          <span *ngIf="!article.getPromotion()?.pourcentage_remise" style="font-weight: bold; font-size: 24px">{{ article.prix }} €</span>
          <span *ngIf="article.getPromotion()?.pourcentage_remise">
            <div class="promo-badge">
              <span style="padding: 5px 10px; background-color: white; font-weight: bold; color: #CF1111; border-radius: 10px;">PROMO -{{ article.getPromotion()?.pourcentage_remise }}%</span>
            </div>
            <div style="margin-top: 10px;">
              <span style="text-decoration: line-through; color: white">{{ article.prix }} €</span>
              <span style="margin-left: 10px;font-weight: bold; font-size: 24px;">{{ getReducePrice(article) | number:'1.2-2' }} €</span>
            </div>
          </span>
          <p class="card-text mt-3">Catégorie : {{article.getCategoryLibele()}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
