<div class="container-fluid py-5">

      <div class="form-group col m-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
          <label for="categorie">Sélectionnez une catégorie</label>
          <select class="form-select form-select-sm mb-3"  id="selectCategorie" (change)="onCategorieSelected($event)">
              <option selected>Sans filtre</option>
              <option *ngFor="let categorie of categorieList" [value]="categorie.id">{{ categorie.libele }}</option>
          </select>
      </div>
      
      <div class="row">
        <div *ngFor="let article of filteredArticleList" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100 shadow-lg text-white" [ngStyle]="{'background-color': (article.promotion | async )?.pourcentage_remise ? '#E60026' : '#FF5733' }">
              <img class="card-img-top" [src]="article.image" alt="Card image cap" style="max-height: 250px; object-fit: cover">
              <div class="card-body">
                <h5 class="card-title mb-3">{{article.libele}}</h5>
                <span *ngIf="!(article.promotion | async )?.pourcentage_remise" style="font-weight: bold; font-size: 24px">{{ article.prix | number:'1.2-2' }} €</span>
                <span *ngIf="(article.promotion | async )?.pourcentage_remise">
                  <div class="promo-badge">
                    <span style="padding: 5px 10px; background-color: white; font-weight: bold; color: #CF1111; border-radius: 10px;">PROMO -{{ (article.promotion | async)?.pourcentage_remise }}%</span>
                  </div>
                  <div style="margin-top: 10px;">
                    <span style="text-decoration: line-through; color: white">{{ article.prix | number:'1.2-2' }} €</span>
                    <span style="margin-left: 10px;font-weight: bold; font-size: 24px;">{{ (article.prix_reduit | async)  | number:'1.2-2' }} €</span>
                  </div>
                </span>
                <p class="small font-italic mt-3">{{article.description}}</p>
                <p class="card-text mt-3 fw-semibold">Catégorie : {{ article.categorieLibele| async }}</p>
                
              </div>
          </div>
        </div>
      </div>
      