<div *ngIf="article" class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <img class="card-img-top rounded-0" [src]="article.image" alt="Card image cap">
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
      <h2>{{ article.libele }}</h2>
      <div class="card shadow-lg">
        <div class="card-body">
          <div class="mt-3 mb-2">
            <h3 style="font-size: 36px;">
                <span *ngIf="!article.getPromotion()?.pourcentage_remise" style="font-weight: bold">{{ article.prix }} €</span>
                <span *ngIf="article.getPromotion()?.pourcentage_remise">
                    <span style="text-decoration: line-through; color: red; font-size: 24px;">
                        {{ article.prix }} €
                    </span>
                    <span style="margin-left: 10px; font-size: 36px; font-weight: bold;">
                        {{ getReducePrice(article) | number:'1.2-2' }} €
                    </span>
                </span>
            </h3>
        </div>
        
          
          <div *ngIf="article.getPromotion()" appPromotion="{{ article.getPromotion()?.date_fin }}" class="mb-5">
            <div>
              <span style="font-size: 24px; font-weight: bold;">PROMO -{{ article.getPromotion()?.pourcentage_remise }}%</span>
            </div>
            <div>
              <span style="font-size: 14px;">du {{ article.getPromotion()?.date_debut }} au {{ article.getPromotion()?.date_fin }}</span>
            </div>
          </div>
          
          <hr>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="category"><strong>Catégorie :</strong></label>
                <p id="category">{{ article.getCategoryLibele() }}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description"><strong>Description :</strong></label>
            <p id="description">{{ article.description }}</p>
          </div>
          <hr>
          <div class="mt-4">
            <button type="button" class="btn btn-secondary" style="width: 120px;" (click)="goHome()">Retour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!article" class="d-flex flex-column align-items-center">
  <h3 class="text-center mt-5">Aucun article à afficher !</h3>
  <a class="btn btn-secondary mt-3 justify-content-center" routerLink="/articles"> Retour </a>
</div>
