<div *ngIf="article" class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <img class="card-img-top rounded-0" [src]="article.image" alt="Card image cap">
      </div>
      <div class="col-md-6">
        <h2>{{ article.libele }}</h2>
        <span *ngIf="!(article.promotion | async )?.pourcentage_remise" style="font-weight: bold">{{ article.prix }} €</span>
        <span *ngIf="(article.promotion | async )?.pourcentage_remise">
            <span style="text-decoration: line-through; color: red; font-size: 24px;">
                {{ article.prix }} €
            </span>
            <span style="margin-left: 10px; font-size: 36px; font-weight: bold;">
                {{ article.prix_reduit| async | number:'1.2-2' }} €
            </span>
        </span>
        <form class="mt-3" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="reduction">Pourcentage de réduction :</label>
                <div class="form-check" *ngFor="let pourcentage of pourcentages">
                    <input class="form-check-input" type="radio" name="reduction" [id]="'reduction'+pourcentage" [value]="pourcentage" 
                         [(ngModel)]="promotionEnCours_remise"
                         [checked]="promotionEnCours_remise && promotionEnCours_remise === pourcentage"
                         #name="ngModel">
                    <label class="form-check-label" [for]="'reduction'+pourcentage">{{pourcentage}}%</label>
                </div>
            </div>
                
            <div class="form-group">
                <label for="dateDebut">Date de début :</label>
                <input type="date" class="form-control" id="date_debut" name="date_debut" [(ngModel)]="promotionEnCours_date_debut" required>
            </div>
            
              
            <div class="form-group">
                <label for="dateFin">Date de fin :</label>
                <input 
                    type="date" 
                    class="form-control" 
                    id="date_fin" 
                    name="date_fin" 
                    [(ngModel)]="promotionEnCours_date_fin"
                    #name="ngModel"
                    required
                >

            </div>
            <button type="submit" class="btn btn-primary">Appliquer</button>
            <button class="btn btn-secondary" (click)="back()">Retour</button>
        </form>
    </div>

    </div>
  </div>
  